# Module: Pandas Assignments
## Lesson: Pandas
### Assignment 1: DataFrame Creation and Indexing

1. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Set the index to be the first column.

In [8]:
import numpy as np
import pandas as pd

df=pd.DataFrame(np.random.randint(1 ,11 ,size=(4,6)), columns=['A','B','C','D','E','F'])
print("Original:")
print(df)

df.set_index('A',inplace=True)
print("Data frame with new index:")
print(df)

Original:
   A  B   C  D  E   F
0  2  1  10  5  7   3
1  8  3   5  4  7   6
2  1  9   5  5  4  10
3  7  8   1  5  7   9
Data frame with new index:
   B   C  D  E   F
A
2  1  10  5  7   3
8  3   5  4  7   6
1  9   5  5  4  10
7  8   1  5  7   9

2. Create a Pandas DataFrame with columns 'A', 'B', 'C' and index 'X', 'Y', 'Z'. Fill the DataFrame with random integers and access the element at row 'Y' and column 'B'.

In [12]:
columns=['A','B','C']
index=['X','Y','Z']
df=pd.DataFrame(np.random.randint(1,100,size=(3,3)), columns=columns,index=index)
print(df)

print("Element of Y row and coloum B:")
print(df.B.Y)

element = df.at['Y', 'B']
print("Element at row 'Y' and column 'B':", element)

    A   B   C
X  52  13  26
Y  96  41  47
Z  74  96  92
Element of Y row and coloum B:
41
Element at row 'Y' and column 'B': 41


### Assignment 2: DataFrame Operations

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Add a new column that is the product of the first two columns.

In [18]:
df=pd.DataFrame(np.random.randint(1,100,size=(5,3)),columns=['A','B','C'])
print(df)
df['D'] = df['A'] * df['B']
print("DataFrame with new column:")
print(df)

    A   B   C
0  57   9  18
1  35   1  31
2  99  69   4
3  74  51  44
4  60  54  23
DataFrame with new column:
    A   B   C     D
0  57   9  18   513
1  35   1  31    35
2  99  69   4  6831
3  74  51  44  3774
4  60  54  23  3240

2. Create a Pandas DataFrame with 3 columns and 4 rows filled with random integers. Compute the row-wise and column-wise sum.

In [21]:
df=pd.DataFrame(np.random.randint(1,100,size=(4,3)),columns=['A','B','C'])
print(df)
row_sum=df.sum(axis=1)
coloum_sum=df.sum(axis=0)

print("Row_sum:\n",row_sum)
print("Coloum_sum:\n",coloum_sum)

    A   B   C
0  53  36  85
1  41  85  60
2  68  54   6
3  49  95  88
Row_sum:
 0    174
1    186
2    128
3    232
dtype: int64
Coloum_sum:
 A    211
B    270
C    239
dtype: int64


### Assignment 3: Data Cleaning

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Introduce some NaN values. Fill the NaN values with the mean of the respective columns.

In [24]:
df=pd.DataFrame(np.random.randint(1,100,size=(5,3)),columns=['A','B','C'])
print(df)

df.iloc[0, 1] = np.nan
df.iloc[2, 2] = np.nan
df.iloc[4, 0] = np.nan
print("DataFrame with NaN values:")
print(df)

df.fillna(df.mean(),inplace=True)
print(df)

    A   B   C
0  62  10  89
1  95  67  53
2  83  96  26
3  23  14  18
4  62  48  51
DataFrame with NaN values:
      A     B     C
0  62.0   NaN  89.0
1  95.0  67.0  53.0
2  83.0  96.0   NaN
3  23.0  14.0  18.0
4   NaN  48.0  51.0
       A      B      C
0  62.00  56.25  89.00
1  95.00  67.00  53.00
2  83.00  96.00  52.75
3  23.00  14.00  18.00
4  65.75  48.00  51.00

2. Create a Pandas DataFrame with 4 columns and 6 rows filled with random integers. Introduce some NaN values. Drop the rows with any NaN values.

In [30]:
df=pd.DataFrame(np.random.randint(1,100,size=(6,4)),columns=['A','B','C','D'])
print(df)
df.iloc[0,1]=np.nan
df.iloc[1,3]=np.nan
df.iloc[4,2]=np.nan
print(df)

df.dropna(inplace=True)
print("Drop the row with None value:")
print(df)

    A   B   C   D
0  52  30  31  68
1  39  87   1  24
2  55  92  56  61
3  78  81  32  23
4  59  99  30  55
5  71   1   4  12
    A     B     C     D
0  52   NaN  31.0  68.0
1  39  87.0   1.0   NaN
2  55  92.0  56.0  61.0
3  78  81.0  32.0  23.0
4  59  99.0   NaN  55.0
5  71   1.0   4.0  12.0
Drop the row with None value:
    A     B     C     D
2  55  92.0  56.0  61.0
3  78  81.0  32.0  23.0
5  71   1.0   4.0  12.0


### Assignment 4: Data Aggregation

1. Create a Pandas DataFrame with 2 columns: 'Category' and 'Value'. Fill the 'Category' column with random categories ('A', 'B', 'C') and the 'Value' column with random integers. Group the DataFrame by 'Category' and compute the sum and mean of 'Value' for each category.

In [39]:
df=pd.DataFrame({'Category':np.random.choice(['A','B','C'],size=10),'Value':np.random.randint(1,100,size=10)})
print(df)

grouped=df.groupby('Category')['Value'].agg(['sum','mean'])
print(grouped)

  Category  Value
0        A     14
1        A     64
2        A     33
3        B     91
4        A     52
5        B     74
6        B     71
7        A     77
8        C     84
9        B     47
          sum   mean
Category
A         240  48.00
B         283  70.75
C          84  84.00

2. Create a Pandas DataFrame with 3 columns: 'Product', 'Category', and 'Sales'. Fill the DataFrame with random data. Group the DataFrame by 'Category' and compute the total sales for each category.

In [42]:
df = pd.DataFrame({'Product': np.random.choice(['Prod1', 'Prod2', 'Prod3'], size=10), 'Category': np.random.choice(['A', 'B', 'C'], size=10), 'Sales': np.random.randint(1, 100, size=10)})
print(df)

grouped=df.groupby('Category')['Sales'].sum()
print(grouped)

  Product Category  Sales
0   Prod3        B     77
1   Prod1        B     17
2   Prod1        C     18
3   Prod1        B     31
4   Prod3        C     32
5   Prod2        C      5
6   Prod3        B     77
7   Prod3        A     75
8   Prod1        C     37
9   Prod1        B     86
Category
A     75
B    288
C     92
Name: Sales, dtype: int32


### Assignment 5: Merging DataFrames

1. Create two Pandas DataFrames with a common column. Merge the DataFrames using the common column.

In [46]:
df1=pd.DataFrame({'key':['A','B','C','D'],'Value1':np.random.randint(1,100,size=4)})
df2=pd.DataFrame({'key':['A','B','C','D'],'Value2':np.random.randint(1,100,size=4)})
print(df1)
print(df2)

merge=pd.merge(df1,df2,on='key')
print(merge)

  key  Value1
0   A      71
1   B      81
2   C      64
3   D      38
  key  Value2
0   A      74
1   B       8
2   C      98
3   D      48
  key  Value1  Value2
0   A      71      74
1   B      81       8
2   C      64      98
3   D      38      48

2. Create two Pandas DataFrames with different columns. Concatenate the DataFrames along the rows and along the columns.

In [50]:
df1=pd.DataFrame({'key1':['A','B','C','D'],'Value1':np.random.randint(1,100,size=4)})
df2=pd.DataFrame({'key2':['A','B','C','D'],'Value2':np.random.randint(1,100,size=4)})
print(df1)
print(df2)

concat_row=pd.concat([df1,df2],axis=0)
print(concat_row)

concat_coloum=pd.concat([df1,df2],axis=1)
print(concat_coloum)

  key1  Value1
0    A      49
1    B       2
2    C      62
3    D      15
  key2  Value2
0    A      52
1    B      48
2    C      74
3    D      94
  key1  Value1 key2  Value2
0    A    49.0  NaN     NaN
1    B     2.0  NaN     NaN
2    C    62.0  NaN     NaN
3    D    15.0  NaN     NaN
0  NaN     NaN    A    52.0
1  NaN     NaN    B    48.0
2  NaN     NaN    C    74.0
3  NaN     NaN    D    94.0
  key1  Value1 key2  Value2
0    A      49    A      52
1    B       2    B      48
2    C      62    C      74
3    D      15    D      94


### Assignment 6: Time Series Analysis

1. Create a Pandas DataFrame with a datetime index and one column filled with random integers. Resample the DataFrame to compute the monthly mean of the values.

In [54]:
date_rng = pd.date_range(start='2022-01-01', end='2022-12-31', freq='D')
df = pd.DataFrame(date_rng, columns=['date'])
df['data']=np.random.randint(1,100,size=(len(date_rng)))
df.set_index('date',inplace=True)
print(df)

monthly_mean=df.resample('M').mean()
print("Monthly Mean DataFrame:")
print(monthly_mean)

            data
date
2022-01-01    33
2022-01-02    60
2022-01-03    31
2022-01-04    58
2022-01-05    15
...          ...
2022-12-27    40
2022-12-28    94
2022-12-29    99
2022-12-30    28
2022-12-31    24

[365 rows x 1 columns]
Monthly Mean DataFrame:
                 data
date
2022-01-31  49.451613
2022-02-28  58.071429
2022-03-31  47.290323
2022-04-30  53.566667
2022-05-31  47.612903
2022-06-30  53.433333
2022-07-31  51.290323
2022-08-31  53.419355
2022-09-30  41.800000
2022-10-31  47.032258
2022-11-30  48.466667
2022-12-31  48.161290

C:\Users\ANURAG PATKAR\AppData\Local\Temp\ipykernel_1980\1754502839.py:7: FutureWarning: 'M' is deprecated and will be removed in a future version, please use 'ME' instead.
  monthly_mean=df.resample('M').mean()

2. Create a Pandas DataFrame with a datetime index ranging from '2021-01-01' to '2021-12-31' and one column filled with random integers. Compute the rolling mean with a window of 7 days.

In [ ]:
date_rng=pd.date_range(start='2021-01-01',end='2021-12-31',freq='D')
df=pd.DataFrame(date_rng,columns=['date'])
df['data']=np.random.randint(1,100,size=len(date_rng))
df.set_index('date',inplace=True)
print(df)

rolling_mean=df.rolling(window=7).mean()
print("Rolling Mean:")
print(rolling_mean)

            data
date
2021-01-01    72
2021-01-02    58
2021-01-03    73
2021-01-04     5
2021-01-05    42
...          ...
2021-12-27    65
2021-12-28    57
2021-12-29    42
2021-12-30    58
2021-12-31    61

[365 rows x 1 columns]
Rolling Mean:
                 data
date
2021-01-01        NaN
2021-01-02        NaN
2021-01-03        NaN
2021-01-04        NaN
2021-01-05        NaN
...               ...
2021-12-27  45.000000
2021-12-28  49.000000
2021-12-29  47.571429
2021-12-30  44.142857
2021-12-31  52.571429

[365 rows x 1 columns]
            data  7 Days Mean
date
2021-01-01    72          NaN
2021-01-02    58          NaN
2021-01-03    73          NaN
2021-01-04     5          NaN
2021-01-05    42          NaN
...          ...          ...
2021-12-27    65    45.000000
2021-12-28    57    49.000000
2021-12-29    42    47.571429
2021-12-30    58    44.142857
2021-12-31    61    52.571429

[365 rows x 2 columns]


### Assignment 7: MultiIndex DataFrame

1. Create a Pandas DataFrame with a MultiIndex (hierarchical index). Perform some basic indexing and slicing operations on the MultiIndex DataFrame.

In [65]:
arrays=[['A','A','B','B'],['one','two','one','two']]
index=pd.MultiIndex.from_arrays(arrays,names=('Category','Subcategory'))
df=pd.DataFrame(np.random.randint(1,100,size=(4,3)),index=index,columns=(['Value1','Value2','Value3']))
print("MultiIndex DataFrame")
print(df)

print("Indexing in Category A")
print(df.loc['A'])

print("Slicing at Category 'B' and SubCategory 'two':")
print(df.loc[('B', 'two')])

MultiIndex DataFrame
                      Value1  Value2  Value3
Category Subcategory
A        one              60      54      67
         two              68      75      52
B        one              54      28       4
         two              48      32      13
Indexing in Category A
             Value1  Value2  Value3
Subcategory
one              60      54      67
two              68      75      52
Slicing at Category 'B' and SubCategory 'two':
Value1    48
Value2    32
Value3    13
Name: (B, two), dtype: int32

2. Create a Pandas DataFrame with MultiIndex consisting of 'Category' and 'SubCategory'. Fill the DataFrame with random data and compute the sum of values for each 'Category' and 'SubCategory'.

In [77]:
arrays=[['A','A','B','B'],['one','two','one','two']]
index=pd.MultiIndex.from_arrays(arrays,names=('Category','SubCategory'))
df=pd.DataFrame(np.random.randint(1,100,size=(4,3)),index=index,columns=(['Value1','Value2','Value3']))
print(df)

sum_values=df.groupby(['Category','SubCategory']).sum()
print("Sum of Values:")
print(sum_values)

                      Value1  Value2  Value3
Category SubCategory
A        one              63      70      53
         two              59      47      20
B        one               7      68      70
         two              69      28      84
Sum of Values:
                      Value1  Value2  Value3
Category SubCategory
A        one              63      70      53
         two              59      47      20
B        one               7      68      70
         two              69      28      84


### Assignment 8: Pivot Tables

1. Create a Pandas DataFrame with columns 'Date', 'Category', and 'Value'. Create a pivot table to compute the sum of 'Value' for each 'Category' by 'Date'.

In [84]:
date_rng=pd.date_range(start='2025-01-01',end='2025-01-15',freq='D')
df=pd.DataFrame({'Date':np.random.choice(date_rng,size=20),'Category':np.random.choice(['A','B','C'],size=20),'Value':np.random.randint(1,100,size=20)})
print(df)

pivot_table=df.pivot_table(values='Value',index='Date',columns='Category',aggfunc='sum')
print("Pivot Table:")
print(pivot_table)

         Date Category  Value
0  2025-01-13        C     27
1  2025-01-08        C     89
2  2025-01-10        B     51
3  2025-01-10        B     20
4  2025-01-01        B     41
5  2025-01-06        B     11
6  2025-01-06        B     12
7  2025-01-08        C     48
8  2025-01-04        C     99
9  2025-01-08        B     95
10 2025-01-10        C     32
11 2025-01-05        B     55
12 2025-01-03        B     62
13 2025-01-06        C     83
14 2025-01-09        B     93
15 2025-01-08        A     87
16 2025-01-11        B     25
17 2025-01-10        C     30
18 2025-01-01        C      6
19 2025-01-05        C     72
Pivot Table:
Category       A     B      C
Date
2025-01-01   NaN  41.0    6.0
2025-01-03   NaN  62.0    NaN
2025-01-04   NaN   NaN   99.0
2025-01-05   NaN  55.0   72.0
2025-01-06   NaN  23.0   83.0
2025-01-08  87.0  95.0  137.0
2025-01-09   NaN  93.0    NaN
2025-01-10   NaN  71.0   62.0
2025-01-11   NaN  25.0    NaN
2025-01-13   NaN   NaN   27.0

2. Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'. Create a pivot table to compute the mean 'Revenue' for each 'Quarter' by 'Year'.

In [86]:
# Create a Pandas DataFrame with columns 'Year', 'Quarter', and 'Revenue'
df = pd.DataFrame({'Year': np.random.choice([2020, 2021, 2022], size=12), 'Quarter': np.random.choice(['Q1', 'Q2', 'Q3', 'Q4'], size=12), 'Revenue': np.random.randint(1, 1000, size=12)})
print("Original DataFrame:")
print(df)

pivot_table=df.pivot_table(values='Revenue',index='Year',columns='Quarter',aggfunc='mean')
print("Pivot Table")
print(pivot_table)

Original DataFrame:
    Year Quarter  Revenue
0   2021      Q2      561
1   2022      Q3      247
2   2021      Q1      688
3   2020      Q2      323
4   2022      Q1      507
5   2021      Q2      946
6   2022      Q1       15
7   2020      Q3      274
8   2020      Q3       53
9   2021      Q3      856
10  2022      Q4      876
11  2022      Q2      111
Pivot Table
Quarter     Q1     Q2     Q3     Q4
Year
2020       NaN  323.0  163.5    NaN
2021     688.0  753.5  856.0    NaN
2022     261.0  111.0  247.0  876.0


### Assignment 9: Applying Functions

1. Create a Pandas DataFrame with 3 columns and 5 rows filled with random integers. Apply a function that doubles the values of the DataFrame.

In [90]:
df=pd.DataFrame(np.random.randint(1,100,size=(5,3)),columns=(['A','B','C']))
print(df)
df=df*2
print(df)

df_doubled = df.applymap(lambda x: x * 2)
print("Doubled DataFrame:")
print(df_doubled)

    A   B   C
0  81  91  80
1  41  89  30
2  62  53  42
3  92  79  11
4  20  11  64
     A    B    C
0  162  182  160
1   82  178   60
2  124  106   84
3  184  158   22
4   40   22  128
Doubled DataFrame:
     A    B    C
0  324  364  320
1  164  356  120
2  248  212  168
3  368  316   44
4   80   44  256

C:\Users\ANURAG PATKAR\AppData\Local\Temp\ipykernel_1980\1054379058.py:6: FutureWarning: DataFrame.applymap has been deprecated. Use DataFrame.map instead.
  df_doubled = df.applymap(lambda x: x * 2)

2. Create a Pandas DataFrame with 3 columns and 6 rows filled with random integers. Apply a lambda function to create a new column that is the sum of the existing columns.

In [95]:
df=pd.DataFrame(np.random.randint(1,100,size=(6,3)),columns=(['A','B','C']))
print(df)

df['Sum']=df.apply(lambda row:row.sum(),axis=1)
print(df)

    A   B   C
0  72  91  63
1  64  63  98
2  68  25  82
3  98  43  61
4  81  71  78
5  77  73  29
    A   B   C  Sum
0  72  91  63  226
1  64  63  98  225
2  68  25  82  175
3  98  43  61  202
4  81  71  78  230
5  77  73  29  179


### Assignment 10: Working with Text Data

1. Create a Pandas Series with 5 random text strings. Convert all the strings to uppercase.

In [98]:
df=pd.Series(['Apple','banana','cheery','Mango','pineapple'])
print(df)
upper_case=df.str.upper()
print(upper_case)

0        Apple
1       banana
2       cheery
3        Mango
4    pineapple
dtype: object
0        APPLE
1       BANANA
2       CHEERY
3        MANGO
4    PINEAPPLE
dtype: object

2. Create a Pandas Series with 5 random text strings. Extract the first three characters of each string.

In [99]:
df=pd.Series(['Apple','banana','cheery','Mango','pineapple'])
print(df)

first_three_char=df.str[:3]
print(first_three_char)

0        Apple
1       banana
2       cheery
3        Mango
4    pineapple
dtype: object
0    App
1    ban
2    che
3    Man
4    pin
dtype: object