# Module: SQLite3 Assignments
## Lesson: SQLite3
### Assignment 1: Creating and Connecting to a Database

1. Write a Python function to create a new SQLite3 database named `test.db`.

In [6]:
import sqlite3

def create_database():
    conn = sqlite3.connect('test.db')
    conn.close()
    print("Database created and successfully connected.")

# Test the function
create_database()

Database created and successfully connected.

2. Write a Python function to create a table named `employees` with columns `id` (integer), `name` (text), `age` (integer), and `department` (text) in the `test.db` database.

In [7]:
def create_table():
    conn=sqlite3.connect('test.db')
    cursor=conn.cursor()
    cursor.execute('''
    CREATE TABLE IF NOT EXISTS employees (
            id INTEGER PRIMARY KEY,
            name TEXT NOT NULL,
            age INTEGER,
            department TEXT)''')
    conn.commit()
    conn.close()
    print("Table Created Successfully")

create_table()

Table Created Successfully


### Assignment 2: Inserting Data

1. Write a Python function to insert a new employee into the `employees` table.

In [9]:

def insert_employee(id, name, age, department):
    try:
        conn = sqlite3.connect('test.db')
        cursor = conn.cursor()
        cursor.execute('''
            INSERT INTO employees (id, name, age, department)
            VALUES (?, ?, ?, ?)
        ''', (id, name, age, department))
        conn.commit()
    except Exception as e:
        print(f"Error: {e}")
    finally:
        if conn:
            conn.close()  # Ensure connection is always closed

insert_employee(21, 'Alice', 30, 'HR')

2. Insert at least 5 different employees into the `employees` table.

In [10]:
insert_employee(22,'Jhon',32,'Sales')
insert_employee(42,'Joy',33,'Management')
insert_employee(12,'Jhonny',22,'Science')
insert_employee(19,'Jerry',41,'Agri')


### Assignment 3: Querying Data

1. Write a Python function to fetch and display all records from the `employees` table.

In [4]:
def display_employees():
    conn = sqlite3.connect('test.db')
    cursor = conn.cursor()
    cursor.execute('SELECT * FROM employees')
    records = cursor.fetchall()
    conn.close()
    for record in records:
        print(record)

# Example usage
display_employees()

(2, 'Jhon', 26, 'Sales')
(8, 'Jhonny', 22, 'Research')
(11, 'Jerry', 41, 'Agri')
(19, 'Jerry', 41, 'HR')
(21, 'Alice', 30, 'Tax')
(42, 'Joy', 33, 'Marketing')
(47, 'Grace', 29, 'Engineering')
(59, 'Ivan', 38, 'Sales')
(61, 'Frank', 40, 'Finance')
(87, 'Hannah', 35, 'Marketing')

2. Write a Python function to fetch and display all employees from a specific department.

In [28]:
def display_employees_by_department(department):
    conn=sqlite3.connect('test.db')
    cursor=conn.cursor()
    cursor.execute('Select * FROM employees where department=?',(department,))
    records=cursor.fetchall()
    conn.close()
    for record in records:
        print(record)

display_employees_by_department('HR')
display_employees_by_department('Sales')

(1, 'Alice', 30, 'HR')
(21, 'Alice', 30, 'HR')
(2, 'Jhon', 32, 'Sales')
(22, 'Jhon', 32, 'Sales')


### Assignment 4: Updating Data

1. Write a Python function to update the department of an employee based on their `id`.

In [42]:
def update_department(id,new_department):
    conn=sqlite3.connect('test.db')
    cursor=conn.cursor()
    cursor.execute('''
    UPDATE employees
    SET department = ?
    WHERE id = ?
    ''',(new_department,id))
    conn.commit()
    conn.close()

update_department(21,'Tax')
display_employees()

(1, 'Alice', 30, 'HR')
(2, 'Jhon', 32, 'Sales')
(4, 'Joy', 33, 'Management')
(8, 'Jhonny', 22, 'Science')
(11, 'Jerry', 41, 'Agri')
(12, 'Jhonny', 22, 'Science')
(19, 'Jerry', 41, 'Agri')
(21, 'Alice', 30, 'Tax')
(22, 'Jhon', 32, 'Sales')
(42, 'Joy', 33, 'Management')

2. Update the department of at least 2 employees and display the updated records.

In [43]:
update_department(42,'Marketing')
update_department(19,'HR')
update_department(8,'Research')
display_employees()

(1, 'Alice', 30, 'HR')
(2, 'Jhon', 32, 'Sales')
(4, 'Joy', 33, 'Management')
(8, 'Jhonny', 22, 'Research')
(11, 'Jerry', 41, 'Agri')
(12, 'Jhonny', 22, 'Science')
(19, 'Jerry', 41, 'HR')
(21, 'Alice', 30, 'Tax')
(22, 'Jhon', 32, 'Sales')
(42, 'Joy', 33, 'Marketing')


### Assignment 5: Deleting Data

1. Write a Python function to delete an employee from the `employees` table based on their `id`.

In [8]:
def delete_employee(id):
    conn=sqlite3.connect('test.db')
    cursor=conn.cursor()
    cursor.execute('''
    DELETE FROM employees
    WHERE id = ?''',(id,))
    conn.commit()
    conn.close()

delete_employee(22)
display_employees()

OperationalError: database is locked

2. Delete at least 1 employee and display the remaining records.

In [9]:
delete_employee(1)
delete_employee(4)
delete_employee(12)
display_employees()

(2, 'Jhon', 32, 'Sales')
(8, 'Jhonny', 22, 'Research')
(11, 'Jerry', 41, 'Agri')
(19, 'Jerry', 41, 'HR')
(21, 'Alice', 30, 'Tax')
(42, 'Joy', 33, 'Marketing')
(47, 'Grace', 29, 'Engineering')
(59, 'Ivan', 38, 'Sales')
(61, 'Frank', 40, 'Finance')
(87, 'Hannah', 35, 'Marketing')


### Assignment 6: Advanced Queries

1. Write a Python function to fetch and display employees older than a certain age.

In [6]:
def employee_above_age(age):
    conn=sqlite3.connect('test.db')
    cursor=conn.cursor()
    cursor.execute('''
    SELECT * FROM employees WHERE age > ?''',(age,))
    records=cursor.fetchall()
    conn.close()
    for record in records:
        print(record)

employee_above_age(30)

(2, 'Jhon', 32, 'Sales')
(11, 'Jerry', 41, 'Agri')
(19, 'Jerry', 41, 'HR')
(42, 'Joy', 33, 'Marketing')
(59, 'Ivan', 38, 'Sales')
(61, 'Frank', 40, 'Finance')
(87, 'Hannah', 35, 'Marketing')

2. Write a Python function to fetch and display employees whose names start with a specific letter.

In [5]:
def employee_name_start_with(letter):
    conn=sqlite3.connect('test.db')
    cursor=conn.cursor()
    cursor.execute('SELECT * FROM employees WHERE name Like ?',(letter + '%',))
    records=cursor.fetchall()
    conn.close()
    for record in records:
        print(record)

employee_name_start_with('K')


### Assignment 7: Handling Transactions

1. Write a Python function to insert multiple employees into the `employees` table in a single transaction. Ensure that if any insertion fails, none of the insertions are committed.

In [ ]:
import sqlite3
def insert_multiple_employees(employees):
    conn=sqlite3.connect('test.db')
    cursor=conn.cursor()
    cursor.executemany('''
        INSERT INTO employees(id,name,age,department)
        Values(?,?,?,?)''',employees)
    conn.commit()
    conn.close()

employees = [
    (61, 'Frank', 40, 'Finance'),
    (47, 'Grace', 29, 'Engineering'),
    (87, 'Hannah', 35, 'Marketing'),
    (59, 'Ivan', 38, 'Sales'),
]

insert_multiple_employees(employees)

In [11]:
display_employees()

(2, 'Jhon', 32, 'Sales')
(8, 'Jhonny', 22, 'Research')
(11, 'Jerry', 41, 'Agri')
(19, 'Jerry', 41, 'HR')
(21, 'Alice', 30, 'Tax')
(42, 'Joy', 33, 'Marketing')
(47, 'Grace', 29, 'Engineering')
(59, 'Ivan', 38, 'Sales')
(61, 'Frank', 40, 'Finance')
(87, 'Hannah', 35, 'Marketing')

2. Write a Python function to update the age of multiple employees in a single transaction. Ensure that if any update fails, none of the updates are committed.

In [3]:
import sqlite3
def update_multiple_employee_age(updates):
    conn=sqlite3.connect('test.db')
    cursor=conn.cursor()
    cursor.executemany('''
    UPDATE employees
    SET age = ?
    WHERE id = ?
    ''',updates)
    conn.commit()
    conn.close()

updates = [
    (32, 1),
    (26, 2),
    (33, 3),
    (41, 4),  # Non-existing ID to cause an error
    (23, 5)
]
update_multiple_employee_age(updates)
display_employees()

NameError: name 'display_employees' is not defined


### Assignment 8: Creating Relationships

1. Create a new table named `departments` with columns `id` (integer) and `name` (text).

2. Modify the `employees` table to include a foreign key referencing the `id` column in the `departments` table.

3. Write a Python function to insert data into both the `departments` and `employees` tables, ensuring referential integrity.


### Assignment 9: Indexing and Optimization

1. Create an index on the `name` column of the `employees` table.

2. Write a Python function to fetch and display all employees whose names start with a specific letter. Compare the performance with and without the index.


### Assignment 10: Backing Up and Restoring Data

1. Write a Python function to back up the `test.db` database to a file named `backup.db`.

2. Write a Python function to restore the `test.db` database from the `backup.db` file.